
  
  
 /* @media screen  and (min-width: 1px) and (max-width: 480px){*/
  body{
      background:#00CC76;
  }
  
  header nav{
      /*Bordes redondeados*/
      -webkit-border-radius:10px;/*Para chrome y Safari*/
      -moz-border-radius:10px;/*Para Firefox*/
      -o-border-radius:10px;/*Para Opera*/
      border-radius:10px;/*El estandar por defecto*/
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));/*Para chrome y Safari*/
      /*Degradados*/
      background-image: -moz-linear-gradient(top center, #FFF, #CCC);/*Para Firefox*/
      background-image: -o-linear-gradient(top, #FFF, #CCC);/*Para Opera*/
      background-image: linear-gradient(top, #FFF, #CCC);/*El estandar por defecto*/
      overflow:hidden;
     
      width:100%;
  }

  header nav ul{
      list-style:none;
      margin:0 10px 0 10px;
      padding:0; 
	  
	  
	  
  }

  nav ul li{
      /*Bordes redondeados*/
      -webkit-border-radius:5px;/*Chrome y Safari*/
      -moz-border-radius:5px;/*Firefox*/
      -o-border-radius:5px;/*Opera*/
      border-radius:5px;/*Estandar por defecto*/
      float:Initial;
      font-family:Arial, Helvetica, sans-serif;
      font-size:16px;
      font-weight:bold;
      margin-bottom: 7px;/*margen de boton inferior*/
	  margin-top: 7px;/*margen de boton inferior*/
      text-align:center;
      /*Sombras para texto, los mismos parametros que box-shadow*/
      text-shadow: 0px 1px 0px #FFF;
  }

  
  

  nav ul li a{
      color:#999;
      padding:10px;
      text-decoration:none;
      /*Transiciones*/
      -webkit-transition: 0.4s linear all;
      -moz-transition: 0.4s linear all;
      -o-transition: 0.4s linear all;
      transition: 0.4s linear all;
  }
  nav ul li a:hover {
      color:#000;
  }
 section article img {
	  width:100%;
  float:left;
        padding-top: 10px;

      padding-bottom: 10px;

  }

  
  
  
  section article h2 {4
   width:100%;
  font-weight:normal;
    color:#45555E;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:90%;
    text-align:left;
    font-family:verdana, sans-serif;
    line-height:1;
  }

  section article p {
  font-weight:normal;
    color:#586C78;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:70%;
    text-align:left;
    font-family:verdana, sans-serif;
    line-height:1;
  }
  
     aside  {
  width:100%;
	margin-bottom: 500px;
	  
  }
  

  aside ul {

      padding-top: 100px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 100px;
  }

  aside ul p {
  font-weight:normal;
    color:#586C78;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:90%;
    text-align:left;
    font-family:verdana, sans-serif;
    line-height:1;


  }

  aside ul li {
  font-weight:normal;
    color:#586C78;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:70%;
    text-align:left;
    font-family:verdana, sans-serif;
    line-height:2;

  }

  footer {
	  background-color: #012427;
	 width:100%;
  font-weight:normal;
    color:#586C78;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:70%;
    text-align:left;
    font-family:verdana, sans-serif;
    line-height:2;
  }
  
 /* }*/
  
   