
  
  

     section article #aa {
    width: 200px;
    height: 200px;
	
    margin: 20px;

	
  
	
	    width: 325px;
    height: 325px;
    margin: 20px;
    background-color: green;
    border-style: dashed;
	
  }
  
 

    section article #aa > div {
    width: 200px;
    height: 200px;
	
    margin: 20px;

	
    background-color: #3F51B5;
	
	padding: 20px;
	
	border: solid gray 20px;
	
  }
  

  footer {
	  background-color: #012427;
	 width:100%;
  font-weight:normal;
    color:#586C78;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:70%;
    text-align:left;
    font-family:verdana, sans-serif;
    line-height:2;
  }